body {
    padding: 0;
    margin: 0;
    background: #fafafa;
}
.navbar {
    background:#fafafa;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
}
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    color: #009a9a !important;
    font-weight: 800;
    float: left;
    height: 50px;
}
/* .navbar-toggle {
    position: relative;
    float: right;
    margin-top: 15px;
    margin-right: 8px;
    margin-bottom: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.nav-link {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: #222222;
    font-weight: 800;
    cursor: pointer;
    margin-right: 1em !important;
}
.nav-link:hover {
    color: white;
    background: linear-gradient(60deg, #43cea2, #185a9d);
}
.navbar-collapse {
    justify-content: flex-end;
} */
.row {
	margin-bottom: 30px;
}

.header {
	margin: 4em auto;
    padding-left: 20%;
    padding-right: 20%;
	position: relative;
}

.title {
    background-color: #2e3192;
    background-image: linear-gradient(60deg, #43cea2 0%, #185a9d 60%);
    background-size: 100%;
    background-repeat: repeat;
	-ms-background-clip: text;
    -ms-text-fill-color: transparent; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

    /* font-size: 36px; */
    font-weight: 800;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    line-height: 1.2;
}

.subtitle {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: #444444;
    line-height: 1.5;
}

.subtitle a {
    color: #2E94A0;
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
    font-weight: 600;
}

.subtitle a:hover {
    text-decoration: none;
    color: #666666;
}

.contact {
    font-family: "IBM Plex Sans", sans-serif;
    color: #2E94A0;
    /* text-align: center; */
    font-weight: 400;
}

.contact a {
    color: #2E94A0;
    text-decoration: none;
    font-weight: 400;
    padding: 5px;
}

.contact a:hover {
    text-decoration: none;
    /* color: white;
    background: linear-gradient(60deg, #43cea2, #185a9d); */
}
.small-arrow {
    border: solid #2E94A0;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
.contact a:hover .small-arrow {
    padding: 4px;
}

.projects {
	margin: 4em auto;
    padding-left: 20%;
    padding-right: 20%;
	position: relative;
}

.project-group h3 {
    color: #222222;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    text-align: left;
    line-height: 1.5;
    font-weight: 600;
}

.arrow {
    border: solid #2E94A0;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.papers {
    color: #666666;
    font-family: 'IBM Plex Sans', sans-serif;
}
.papers h5 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: #222222;
}
.papers p {
    font-weight: 300;
}
.papers b {
    font-weight: 500;
}
.papers h6 {
    font-weight: 300;
}

.col-container {
    padding-bottom: 20px;
}

.links a {
    color: #2E94A0;
    text-decoration: none;
    font-weight: 400;
}

.links a:hover {
    text-decoration: none;
    /* color: white;
    background: linear-gradient(60deg, #43cea2, #185a9d); */
}

.links a:hover .small-arrow {
    padding: 4px;
}



.container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0%;
}


.img-fluid {
    position: relative;
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fafafa;
    padding: 10%;
}

.container:hover .overlay {
    background: linear-gradient(60deg, #43cea2 0%, #185a9d 100%);
    opacity: 1;
}

.project-title {
    color: white;
    font-weight: 600;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    margin-bottom: 5px;
}

.project-text p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: white;
    text-align: left;
    margin: 0%;
    margin-bottom: 5px;
    line-height: 1.5;
}

.project-text a {
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s ease;
}

.project-text a:hover {
    text-decoration: none;
}

.project-text a .arrow-link {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transition: 0.1s ease;
}

.project-text a:hover .arrow-link {
    border: solid white;
    border-width: 0 2px 2px 0;
    padding: 4px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: "IBM Plex Sans", sans-serif;
    color: #444444;
    text-align: center;
    font-weight: 300;
}

.footer h5 {
    margin-bottom: 2%;
}

.footer a {
    padding: 5px;
    color: #444444;
    font-weight: 800;
}

.footer a:hover {
    text-decoration: none;
    color: white;
    background: linear-gradient(60deg, #43cea2, #185a9d);
}