@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Geist:wght@100..900&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.9);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-color: #0f0f0f;
  color: #ffffff;
  font-family: 'Geist', sans-serif;
  /* line-height: 125%; */
}

.App {
  color: #ffffff;
  text-align: left;
  padding-left: 15%;
  padding-right: 15%;
}

h3 {
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-size: 3em;
  margin-top: 8px;
}

h4 {
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-size: 1.8em;
  margin-top: 16px;
  margin-bottom: 16px;
  /* padding-bottom: 20px; */
  /* text-decoration: solid underline #7a7ad8 4px; */
}

.H4-Purple {
  text-decoration: solid underline #7a7ad8 4px;
}

.H4-Red {
  text-decoration: solid underline #ff7863 4px;
}

.H4-Green {
  text-decoration: solid underline #6fcb9f 4px;
}

.H4-Yellow {
  text-decoration: solid underline #ffc663 4px;
}

h5 {
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-size: 1.4em;
  margin: 4px 0 4px 0;
}

a {
  /* font-weight: 600; */
  text-decoration: none;
  color: #ffffff;
  transition: 0.2s;
}

p {
  line-height: 150%;
  font-size: 1.1em;
}

iframe {
  border: none;
  margin-bottom: 20px;
}

.Name {
  background-color: #7a7ad8;
  color: #ffffff;
}

.Page-header {
  /* background-color: #ffffff; */
  padding-top: 2%;
  /* min-height: 100vh; */
  /* display: flex; */
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* color: white; */
}

.App-logo {
  height: 70px;
  margin-bottom: 20px;
  padding-top: 60px;
  cursor: pointer;
  /* pointer-events: none; */
}

/* .Page-header h1 {
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-size: 3.5em;
  letter-spacing: 1px;
  cursor: pointer;
  line-height: 1;
} */

/* .Page-header a {
  text-decoration: none;
  color: #ffffff;
} */

/* Navigation */

.Nav-menu {
  margin-top: 30px;
  margin-bottom: 40px;
  gap: 10px;
  display: flex;
  font-family: 'Geist', sans-serif;
  font-weight: 300;
  font-size: 1.4em;
}

.Nav-item {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  font-weight: 300;
}

.Nav-item img {
  height: 16px;
  margin: 0 8px 0 8px;
}

.Nav-selected {
  font-weight: 600;
}

.A-Purple:hover {
  /* text-decoration: solid underline #7a7ad8 4px; */
  background-color: #7a7ad8;
}

.A-Red:hover {
  /* text-decoration: solid underline #ff7863 4px; */
  background-color: #ff7863;
}

.A-Green:hover {
  /* text-decoration: solid underline #6fcb9f 4px; */
  background-color: #6fcb9f;
}

.A-Yellow:hover {
  /* text-decoration: solid underline #ffc663 4px; */
  background-color: #ffc663;
}

/* Universal body text */

.Body {
  font-family: 'Geist', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 150%;
}

.Body a {
  /* text-decoration: none; */
  font-weight: 700;
  /* color: #ffffff; */
}

/* .Body a:hover {
  color: #6f6f6f;
} */

.Body h3 {
  font-family: 'DM Serif Text', serif;
  font-weight: 400;
  font-size: 22px;
  margin-top: 24px;
  margin-bottom: 16px;
}

/* Research */

.Paper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  margin: 30px 0 30px 0;
}

.Paper-image {
  align-content: center;
}

.Paper-image img {
  margin-top: 12px;
  width: 250px;
}

/* .Paper-info {
  padding-left: 20px;
} */

/* .Paper-info h3 {
  font-family: 'DM Serif Text', serif;
  font-weight: 400;
  font-size: 22px;
  margin-top: 8px;
  margin-bottom: 4px;
} */

/* .Paper-info p {
  font-family: 'DM Sans', serif;
  font-weight: 300;
  font-size: 16px;
  color: #3c3c3c;
} */

/* .Paper-info a {
  font-family: 'DM Sans', serif;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
} */

/* .Paper-info a:hover {
  text-decoration: underline;
} */

/* Creative */

.Project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* padding: 20px; */
}

.Project {
  text-align: left;
}

.Project-image img {
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

.Project-info h3 {
  /* font-family: 'DM Serif Text', serif; */
  /* font-weight: 400; */
  font-size: 22px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.Project-info h4 {
  font-family: 'DM Serif Text', serif;
  font-weight: 200;
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 2px;
}

.Project-info p {
  /* font-family: 'DM Sans', serif; */
  font-weight: 300;
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 8px;
  /* color: #3c3c3c; */
}

.Project-info a {
  /* font-family: 'DM Sans', serif; */
  font-weight: 500;
  /* font-size: 1.4em; */
  /* text-decoration: none; */
  /* color: #000000; */
}

.Project-info a:hover {
  /* text-decoration: underline; */
}

/* Photos */

.Photo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  /* padding: 20px; */
}

.Photo-grid img {
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}

/* Footer */

.App-footer {
  padding-top: 30px;
  padding-bottom: 50px;
  font-family: "Geist", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.App-footer hr {
  margin-top: 30px;
  width: 30%;
  /* opacity: 60%; */
}

.Contact {
  padding-top: 10px;
  display: flex;
}

.Contact-left {
  width: 50%;
}

.Contact-right {
  width: 50%;
  /* text-align: right; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.Contact-right img {
  height: 12px;
  margin: 0 6px 0 6px;
}

/* .Contact-right a {
  text-decoration: none;
  color: #3c3c3c;
}

.Contact-right a:hover {
  text-decoration:underline;
} */

/* Responsive for small monitors */

@media (max-width: 1440px) {
  .App {
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media (max-width: 640px) {
  body {
    width: 100%;
  }
  .App {
    width: 86vw;
    padding-left: 7%;
    padding-right: 7%;
  }

  h3 {
    font-size: 1.8em;
  }

  h4 {
    font-size: 1.6em;
  }

  h5 {
    font-size: 1.2em;
  }

  .App-header {
    padding-top: 0%;
  }

  .App-logo {
    padding-top: 40px;
  }

  .App-header h1 {
    font-size: 36px;
  }

  .Nav-menu {
    gap: 6px;
    font-size: 16px;
  }

  .Nav-item {
    gap: 2px;
  }

  .Nav-item img {
    height: 12px;
  }

  .Body {
    width: 88vw;
  }

  .Body img {
    width: 100%;
  }

  .Paper {
    display: block;
  }

  .Paper-image img {
    width: 100%;
  }

  .Paper-info {
    padding-left: 0px;
  }

  .Project-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .Photo-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
  }

  .Contact {
    display: block;
  }

  .Contact-left {
    width: 100%;
    padding-bottom: 8px;
  }

  .Contact-right {
    width: 100%;
    justify-content: flex-start;
    /* text-align: left; */
    padding-bottom: 8px;
  }
}


/* Styles for defense page */

.Body-defense {
  display: flex;
  flex-direction: row;
  gap: 4%;
  text-align: justify;
}

.Body-defense-col {
  width: 48%;
}

.Exam-info {
  text-align: left;
  font-size: 1.2em;
  font-family: Geist, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.Info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.Label {
  font-size: 1.1em;
  font-family: Arvo, serif;
  font-weight: 500;
  text-decoration: solid underline #ff7863 3px;
}

.Body-defense h5 {
  text-decoration: solid underline #6fcb9f 3px;
}

.Info-item a {
  font-weight: 700;
  color: #ffffff;
}

iframe {
  width: 100%;
}

@media (max-width: 640px) {
  .Body-defense {
    flex-direction: column;
    width: 100%;
  }
  .Body-defense-col {
    width: 100%;
  }
  .Exam-info {
    width: 100%;
    font-size: 1em;
  }
  .Body-defense p {
    font-size: 1em;
  }
}